<?xml version="1.0"?>
<model>
  <name>TurtleBot3(Burger) with ArUco</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>User</name>
    <email>user@example.com</email>
  </author>
  <description>TurtleBot3 Burger with ArUco Marker ID 55</description>
</model>
