<?xml version="1.0" ?>
<robot name="simple_drone">
  <link name="base_link">
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.02"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.2 0.05"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.2 0.05"/>
      </geometry>
    </collision>
  </link>

  <!-- Gazebo specific color -->
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Ground truth Odometry Plugin -->
  <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <ros>
        <namespace></namespace>
        <remapping>odom:=/drone/odom</remapping>
      </ros>
      <body_name>base_link</body_name>
      <frame_name>world</frame_name>
      <update_rate>50.0</update_rate>
      <xyz_offset>0 0 0</xyz_offset>
      <rpy_offset>0 0 0</rpy_offset>
      <gaussian_noise>0.01</gaussian_noise>
    </plugin>
  </gazebo>

  <!-- Force Control Plugin -->
  <gazebo>
    <plugin name="gazebo_ros_force" filename="libgazebo_ros_force.so">
      <ros>
        <namespace></namespace>
        <remapping>gazebo_ros_force:=/drone/cmd_force</remapping>
      </ros>
      <link_name>base_link</link_name>
      <force_frame>world</force_frame>
    </plugin>
  </gazebo>
</robot>
